<div id="main">
      
        #parse("control/leftpart.vm")
        
        <div id="body">
            
     <div id="location"><strong>您的位置：</strong> <a href="/">首页</a> - <a href="/car/price">产品价格</a> -油罐车价格表(请点击查看)</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 油罐车价格表(请点击查看)</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <div align="center">
<table border="1" cellspacing="0" cellpadding="0" width="605">
<tbody>
<tr>
<td valign="top" width="555" colspan="5"></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">序号</p></td>
<td valign="top" width="135">
<p align="center">产品名称</p></td>
<td valign="top" width="67">
<p align="center">容积</p></td>
<td valign="top" width="66">
<p align="center">价格<br>（万元）</p></td>
<td valign="top" width="234">
<p align="center">备注</p></td></tr>
<tr>
<td valign="top" colspan="5">
<p align="left"><b>一、东风系列油罐车（<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a>、运油车）</b><b></b></p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">1</p></td>
<td valign="top" width="135">
<p align="left">东风小霸王油罐车</p></td>
<td valign="top" width="67">
<p align="center">&nbsp; 3-4.5T</p></td>
<td valign="top" width="66">
<p align="center">9.5</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头云内柴油机</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">2</p></td>
<td valign="top" width="135">
<p align="left">东风小霸王电脑<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a></p></td>
<td valign="top" width="67">
<p align="center">4-5T</p></td>
<td valign="top" width="66">
<p align="center">10.8</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头云内柴油机</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">3</p></td>
<td valign="top" width="135">
<p align="left">东风小霸王加强型油罐车</p></td>
<td valign="top" width="67">
<p align="center">4.5-5T </p></td>
<td valign="top" width="66">
<p align="center">9.8</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头云内柴油机</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">4</p></td>
<td valign="top" width="135">
<p align="left">东风小霸王加强型<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a></p></td>
<td valign="top" width="67">
<p align="center">&nbsp;5-6T</p></td>
<td valign="top" width="66">
<p align="center">9.9</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头朝阳柴油机</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">5</p></td>
<td valign="top" width="135">
<p align="left">东风多利卡油罐车</p></td>
<td valign="top" width="67">
<p align="center">&nbsp;6-7T</p></td>
<td valign="top" width="66">
<p align="center">11.5</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头朝阳柴油机</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">6</p></td>
<td valign="top" width="135">
<p align="left">东风多利卡带卧油罐车</p></td>
<td valign="top" width="67">
<p align="center">6-8T </p></td>
<td valign="top" width="66">
<p align="center">12.5</p></td>
<td valign="top" width="234">
<p align="left">多功能，加强型，平头朝阳柴油机带卧</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">7</p></td>
<td valign="top" width="135">
<p align="left">东风三平柴油罐车</p></td>
<td valign="top" width="67">
<p align="center">6-8T</p></td>
<td valign="top" width="66">
<p align="center">12.5</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头带卧，风神柴油机</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">8</p></td>
<td valign="top" width="135">
<p align="left">东风天锦油罐车</p></td>
<td valign="top" width="67">
<p align="center">7-8T</p></td>
<td valign="top" width="66">
<p align="center">18.3</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头朝阳柴油机</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">9</p></td>
<td valign="top" width="135">
<p align="left">东风EQ140油罐车</p></td>
<td valign="top" width="67">
<p align="center">7-8T</p></td>
<td valign="top" width="66">
<p align="center">11.5</p></td>
<td valign="top" width="234">
<p align="left">长头，汽油机，多功能</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">10</p></td>
<td valign="top" width="135">
<p align="left">东风EQ140油罐车</p></td>
<td valign="top" width="67">
<p align="center">7-8T</p></td>
<td valign="top" width="66">
<p align="center">12.8</p></td>
<td valign="top" width="234">
<p align="left">长头，玉林柴油机，多功能</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">11</p></td>
<td valign="top" width="135">
<p align="left">东风EQ140/47油罐车</p></td>
<td valign="top" width="67">
<p align="center">&nbsp;8-10T</p></td>
<td valign="top" width="66">
<p align="center">12.5</p></td>
<td valign="top" width="234">
<p align="left">长头，汽油机，多功能，加长型</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">12</p></td>
<td valign="top" width="135">
<p align="left">东风EQ140/47油罐车</p></td>
<td valign="top" width="67">
<p align="center">8-10T</p></td>
<td valign="top" width="66">
<p align="center">13.5</p></td>
<td valign="top" width="234">
<p align="left">长头，玉林柴油机，多功能，加长型</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">13</p></td>
<td valign="top" width="135">
<p align="left">东风EQ145油罐车（4.8米）</p></td>
<td valign="top" width="67">
<p align="center">&nbsp;10-12T</p></td>
<td valign="top" width="66">
<p align="center">17.7</p></td>
<td valign="top" width="234">
<p align="left">多功能，康明斯加强型160PS，平头带卧</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">14</p></td>
<td valign="top" width="135">
<p align="left">东风EQ145油罐车（6.1米）</p></td>
<td valign="top" width="67">
<p align="center">12-14T</p></td>
<td valign="top" width="66">
<p align="center">18.7</p></td>
<td valign="top" width="234">
<p align="left">多功能，康明斯加强型160PS，平头带卧</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">15</p></td>
<td valign="top" width="135">
<p align="left">东风EQ153油罐车（5.3米）</p></td>
<td valign="top" width="67">
<p align="center">13-15T</p></td>
<td valign="top" width="66">
<p align="center">21.7</p></td>
<td valign="top" width="234">
<p align="left">多功能，康明斯加强型180PS，平头带卧</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">16</p></td>
<td valign="top" width="135">
<p align="left">东风EQ153油罐车（6.1米）</p></td>
<td valign="top" width="67">
<p align="center">15-16T</p></td>
<td valign="top" width="66">
<p align="center">22.5</p></td>
<td valign="top" width="234">
<p align="left">多功能，康明斯加强型180PS，平头带卧</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">17</p></td>
<td valign="top" width="135">
<p align="left">东风1208双桥油罐车（7.2米）</p></td>
<td valign="top" width="67">
<p align="center">16-18T</p></td>
<td valign="top" width="66">
<p align="center">28</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头带卧，康明斯加强型210PS，双桥</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">18</p></td>
<td valign="top" width="135">
<p align="left">东风1208双桥油罐车（8.6米）</p></td>
<td valign="top" width="67">
<p align="center">18-20T</p></td>
<td valign="top" width="66">
<p align="center">28.5</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头带卧，康明斯加强型210PS，双桥</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">19</p></td>
<td valign="top" width="135">
<p align="left">东风1208双桥油罐车（9.5米）</p></td>
<td valign="top" width="67">
<p align="center">20-22T</p></td>
<td valign="top" width="66">
<p align="center">29</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头带卧，康明斯加强型210PS，双桥</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">20</p></td>
<td valign="top" width="135">
<p align="left">东风1230油罐车（9.5米）</p></td>
<td valign="top" width="67">
<p align="center">25-30T</p></td>
<td valign="top" width="66">
<p align="center">30</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头带卧，康明斯加强型230PS，后双桥</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">21</p></td>
<td valign="top" width="135">
<p align="left">东风1290油罐车（8×4）</p></td>
<td valign="top" width="67">
<p align="center">25-30T</p></td>
<td valign="top" width="66">
<p align="center">35</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头带卧，康明斯加强型230PS，前四后八</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">22</p></td>
<td valign="top" width="135">
<p align="left">东风1310油罐车（8×4）</p></td>
<td valign="top" width="67">
<p align="center">28-32T</p></td>
<td valign="top" width="66">
<p align="center">35.8</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头带卧，康明斯加强型260PS，前四后八</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">23</p></td>
<td valign="top" width="135">
<p align="left">东风1310油罐车（10×4）</p></td>
<td valign="top" width="67">
<p align="center">33-36T</p></td>
<td valign="top" width="66">
<p align="center">36.5</p></td>
<td valign="top" width="234">
<p align="left">多功能，平头带卧，康明斯加强型280PS，前四后十</p></td></tr>
<tr>
<td valign="top" colspan="5">
<p align="left"><b>二、解放系列油罐车（<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a>、运油车）</b><b></b></p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">1</p></td>
<td valign="top" width="135">
<p align="left">解放平头柴<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a>（5.4米)</p></td>
<td valign="top" width="67">
<p align="center">6-8T</p></td>
<td valign="top" width="66">
<p align="center">14.8</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，122马力</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">2</p></td>
<td valign="top" width="135">
<p align="left">解放平头柴<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a>（5.1米)</p></td>
<td valign="top" width="67">
<p align="center">8-12T</p></td>
<td valign="top" width="66">
<p align="center">17.5</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，180马力</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">3</p></td>
<td valign="top" width="135">
<p align="left">解放平头柴<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a>（6.2米)</p></td>
<td valign="top" width="67">
<p align="center">10-15T</p></td>
<td valign="top" width="66">
<p align="center">20.9</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，170/180马力可选</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">4</p></td>
<td valign="top" width="135">
<p align="left">解放平头柴<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a>（6.2米)</p></td>
<td valign="top" width="67">
<p align="center">15-17T</p></td>
<td valign="top" width="66">
<p align="center">22.7</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，170/180马力可选</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">5</p></td>
<td valign="top" width="135">
<p align="left">解放双桥<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a>（7.6米）</p></td>
<td valign="top" width="67">
<p align="center">25-26T</p></td>
<td valign="top" width="66">
<p align="center">25.8</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，220/240/280马力可选</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">6</p></td>
<td valign="top" width="135">
<p align="left">解放双桥<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a>（7.2米）</p></td>
<td valign="top" width="67">
<p align="center">22-23T</p></td>
<td valign="top" width="66">
<p align="center">25.5</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，220/240/260马力可选</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">7</p></td>
<td valign="top" width="135">
<p align="left">解放前四后八<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a></p></td>
<td valign="top" width="67">
<p align="center">26-30T</p></td>
<td valign="top" width="66">
<p align="center">31.5</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，240/260马力可选</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">8</p></td>
<td valign="top" width="135">
<p align="left">解放前四后八<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a></p></td>
<td valign="top" width="67">
<p align="center">29-32T</p></td>
<td valign="top" width="66">
<p align="center">31.8</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，240/280马力</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">9</p></td>
<td valign="top" width="135">
<p align="left">解放前四后八<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a></p></td>
<td valign="top" width="67">
<p align="center">38.5-39.5T</p></td>
<td valign="top" width="66">
<p align="center">32.5</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，280马力</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">10</p></td>
<td valign="top" width="135">
<p align="left">解放前四后八<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a></p></td>
<td valign="top" width="67">
<p align="center">38-40T</p></td>
<td valign="top" width="66">
<p align="center">32.8</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，280马力</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">11</p></td>
<td valign="top" width="135">
<p align="left">解放前四后十<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a></p></td>
<td valign="top" width="67">
<p align="center">39-42T</p></td>
<td valign="top" width="66">
<p align="center">38.8</p></td>
<td valign="top" width="234">
<p align="left">一汽解放柴油环保机，280马力</p></td></tr>
<tr>
<td valign="top" colspan="5">
<p align="left"><b>三、半挂系列油罐车（<a class="seo" href="/asp/search.asp?kw=%BC%D3%D3%CD%B3%B5"><strong>加油车</strong></a>、运油车）</b><b></b></p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">1</p></td>
<td valign="top" width="135">
<p align="left">双桥半挂罐式车</p></td>
<td valign="top" width="67">
<p align="center">40-45T</p></td>
<td valign="top" width="66">
<p align="center">14.1</p></td>
<td valign="top" width="234">
<p align="left">挂长12.5米</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">2</p></td>
<td valign="top" width="135">
<p align="left">双桥半挂罐式车</p></td>
<td valign="top" width="67">
<p align="center">35-40T</p></td>
<td valign="top" width="66">
<p align="center">14.2</p></td>
<td valign="top" width="234">
<p align="left">挂长9.96米</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">3</p></td>
<td valign="top" width="135">
<p align="left">双桥半挂罐式车</p></td>
<td valign="top" width="67">
<p align="center">37-38T</p></td>
<td valign="top" width="66">
<p align="center">14.5</p></td>
<td valign="top" width="234">
<p align="left">挂长10.8米</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">4</p></td>
<td valign="top" width="135">
<p align="left">双桥半挂罐式车</p></td>
<td valign="top" width="67">
<p align="center">38-42T</p></td>
<td valign="top" width="66">
<p align="center">14.8</p></td>
<td valign="top" width="234">
<p align="left">挂长12米</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">5</p></td>
<td valign="top" width="135">
<p align="left">三桥半挂罐式车</p></td>
<td valign="top" width="67">
<p align="center">45-50T</p></td>
<td valign="top" width="66">
<p align="center">15.6</p></td>
<td valign="top" width="234">
<p align="left">挂长12.9米</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">6</p></td>
<td valign="top" width="135">
<p align="left">三桥半挂罐式车</p></td>
<td valign="top" width="67">
<p align="center">48-52T</p></td>
<td valign="top" width="66">
<p align="center">15.3</p></td>
<td valign="top" width="234">
<p align="left">挂长12.8米</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">7</p></td>
<td valign="top" width="135">
<p align="left">三桥半挂罐式车</p></td>
<td valign="top" width="67">
<p align="center">45-50T</p></td>
<td valign="top" width="66">
<p align="center">15.8</p></td>
<td valign="top" width="234">
<p align="left">挂长12.9米</p></td></tr>
<tr>
<td valign="top" width="25">
<p align="center">8</p></td>
<td valign="top" width="135">
<p align="left">三桥半挂罐式车</p></td>
<td valign="top" width="67">
<p align="center">50-55T</p></td>
<td valign="top" width="66">
<p align="center">16.2</p></td>
<td valign="top" width="234">
<p align="left">挂长12.98米</p></td></tr>
<tr>
<td valign="top" width="535" colspan="5">
<p align="left"><b>备注：</b></p>
<p align="left">一、所有车型（半挂油车除外）均可选配电脑税控加油机<br><br>二、可按用户要求分仓，可选配流量表、加油枪、自流阀等专用设备<br><br>三、<font face="Times New Roman"> </font>罐体可按用户要求定制，均可制作为化工罐<br><br>四、<font face="Times New Roman">&nbsp;&nbsp; </font>报价车型均为碳钢板制作，还可选用不锈钢、铝等其他材质。<br><br>五、罐内可做防腐，可加装保温隔热层，加热管<br><br>六、以上报价格、参数仅供参考，因市场发生变动不另行通知，以即时电议<br><br>及合同为准。本公司保留更改价格及参数的权利。</p>
<p align="left">　</p>
<p align="left">　</p>
<p align="left">★　以上价格仅供参考；时价请咨询程力公司销售代表。</p></td></tr></tbody></table></div> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>