<div id="head">
  <div id="menu">
	<a href="$hostServer">首 页</a>
     <a href="$hostServer/car/introduce">公司简介</a>
     <a href="http://www.clwtq.com/asp/docs.asp?id=1">企业新闻</a>
	 <a href="$hostServer/category">产品展示</a>
	 <a href="$hostServer/car/flow">购车流程</a>
	 <a href="$hostServer/car/price">产品价格</a>
	 <a href="$hostServer/car/service">售后服务</a>
     <a href="http://www.clwtq.com/asp/guestbook.asp">网站留言</a>
	 <a href="$hostServer/car/contact">联系我们</a>, 
 </div>
</div>
 <div id="banner">    
       <img src="$staticServer/img/door.jpg">
  </div>
</div>
</div>