<div id="head">
  <div id="menu">
	<a href="$hostServer">首 页</a>
     <a href="$hostServer/carinfo/introduce">公司简介</a>
     <a href="$hostServer/news/all">企业新闻</a>
	 <a href="$hostServer/category">产品展示</a>
	 <a href="$hostServer/carinfo/flow">购车流程</a>
	 <a href="$hostServer/carinfo/price">产品价格</a>
	 <a href="$hostServer/carinfo/service">售后服务</a>
	 <a href="$hostServer/carinfo/contact">联系我们</a>
 </div>
</div>
 <div id="banner">    
       <img src="$staticServer/img/door.jpg">
  </div>
</div>
</div>