<div id="main">
      
      #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-延安罐车和客车相撞</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 延安罐车和客车相撞</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> 8月26日凌晨2点40分许，陕西包茂高速延安段发生了一起严重的车祸，一辆卧铺大客车和一辆危险品大货车追尾，致死36人死亡的特大交通事故。请各位司机朋友行车一定注意安全，不要疲劳驾驶。 </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>