<div id="main">
      #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-武汉给洒水车定规矩，白天喷雾 晚上洒水</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 武汉给洒水车定规矩，白天喷雾 晚上洒水</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <font face="宋体">2011年4月24日，武汉市出台“新版”环卫洒水作业规范：白天只能喷雾，晚上才能洒水清洗路面。如果洒水作业不“温柔”，市民可拨打举报电话：82712345。<br>&nbsp;&nbsp;&nbsp; 2008年，武汉市首部环卫作业规范——《武汉市环境卫生作业规范》出炉。其中明确了道路洒水次数，气温在30℃以上，主干道每天洒水不少于6次，气温在0℃或以下停止洒水。近两年，随着工地增多，道路污染加重，许多<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a>白天上路清洗路面，但严重影响市民出行。为此，武汉市城管局出台“新版”环卫洒水作业规范，于今日开始执行。<br>&nbsp;&nbsp;&nbsp; 新版作业规范要求：白天，防止路面尘土飞扬，<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a>只能用雾状喷洒路面，雾洒压尘高度不得超过1米，宽度不得超过3.5米，路面达到见潮不见水流的效果。喷雾压尘时，将严格作业频次，一级道路每天作业3次，二级道路每天作业2次。<br>&nbsp;&nbsp;&nbsp; 同时，新规范首次提出，<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a>提示音不得超过50分贝，严禁噪音扰民。</font> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>