<div id="main">
      
           #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-城市物流好帮手 达夫LF厢式载货车图秀</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 城市物流好帮手 达夫LF厢式载货车图秀</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> 在今年的上海车展，商用车军团又一次集体性出击。作为首次亮相的品牌，达夫的全系车型以黄色为主打色展现在大家面前，除了雄壮威武的XF105牵引车以外，还有一个小个头厢式车也是相当吸引眼球，它就是达夫的LF45厢式卡车。 
<p align="center"><a href="http://www.360che.com/pic/14244_62524.html" target="_blank"></a></p>
<p>&nbsp;&nbsp;&nbsp; LF45在达夫的车系中是最小的卡车，定位于城市物流市场。从外观来看，LF圆润的外表很讨人喜欢。灰色的保险杠比起同色保险杠更耐脏，在发生小擦挂的时候也不容易看出。</p>
<p align="center"><a href="http://www.360che.com/pic/14244_62525.html" target="_blank"></a></p>
<p>&nbsp;&nbsp;&nbsp; 以旁边开门的女士作为参照物，可以看到LF45驾驶室的离地间隙很低，方便驾乘人员上下车。对于在城市里运输的卡车来说，减轻车上人员的劳动强度在这些小地方就能够体现出来。</p>
<p align="center"><a href="http://www.360che.com/pic/14244_62526.html" target="_blank"></a></p>
<p>&nbsp;&nbsp;&nbsp; 车门边上的DAF 45.180字样代表该车为45系列，180马力车型。</p>
<p align="center"><a href="http://www.360che.com/pic/14244_62527.html" target="_blank"></a></p>
<p>&nbsp;&nbsp;&nbsp; 简洁的组合式一体化大灯。</p>
<p align="center"><a href="http://www.360che.com/pic/14244_62528.html" target="_blank"></a></p>
<p>&nbsp;&nbsp;&nbsp; 大尺寸的驾驶室前方的照地镜安装在挡风玻璃的中央，方便驾驶员观察死角。</p>
<p align="center"><a href="http://www.360che.com/pic/14244_62529.html" target="_blank"></a></p>
<p>&nbsp;&nbsp;&nbsp; 小尺寸的轮胎是降低车身高度最直接的方法，这台达夫LF45采用尺寸为225/75 17.5的真空胎。前胎还带镀铬材质的轮毂螺栓保护罩，看上去很有档次。</p>
<p align="center"><a href="http://www.360che.com/pic/14244_62532.html" target="_blank"></a></p>
<p>&nbsp;&nbsp;&nbsp; 透过轮毂保护罩可以看见盘式制动系统的刹车卡钳。</p>
<p align="center"><a href="http://www.360che.com/pic/14244_62531.html" target="_blank"></a></p>
<p>&nbsp;&nbsp;&nbsp; 欧洲中型商用车特别喜欢使用工程塑料材质的油箱，有效减轻自重。</p>
<p align="center"><a href="http://www.360che.com/pic/14244_62533.html" target="_blank"></a></p>
<p>&nbsp;&nbsp;&nbsp; 这台LF45卡车的前后悬挂全部采用一片式的抛物线钢板弹簧，对于欧洲这种对重量有严格限制的国家，LF45这类中卡使用一片抛物线钢板完全足以对于日常运输。</p> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>