<div id="main">
      
      #parse("control/leftpart.vm")
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-湖北程力汽车免征公告目录（详细）</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 湖北程力汽车免征公告目录（详细）</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <table width="100%" border="0">
<tbody>
<tr>
<td align="middle">
<h2>最新汽车免征公告_湖北程力汽车</h2></td></tr>
<tr>
<td align="middle">加入日期:2009-3-6 | 来源:程力汽车 </td></tr>
<tr>
<td>
<table cellspacing="0" cellpadding="0" width="576" border="1">
<tbody>
<tr>
<td valign="top" width="36">
<p align="center">序号 </p></td>
<td valign="top" width="156">
<p align="center">产品类型 </p></td>
<td valign="top" width="144">
<p align="center">产品型号 </p></td>
<td valign="top" width="240">
<p align="center">备&nbsp;&nbsp;&nbsp;&nbsp; 注 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">1</p></td>
<td valign="top" width="156">
<p align="left">145<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5108GSS3</p></td>
<td valign="top" width="240">
<p align="left">2007年第二册总第九册第63页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">2</p></td>
<td valign="top" width="156">
<p align="left">153<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5141GSS3</p></td>
<td valign="top" width="240">
<p align="left">2007年第二册总第九册第64页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">3</p></td>
<td valign="top" width="156">
<p align="left">145<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5111GSST3</p></td>
<td valign="top" width="240">
<p align="left">2007年第四册总第十一册第78页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">4</p></td>
<td valign="top" width="156">
<p align="left">五十铃高空作业车 </p></td>
<td valign="top" width="144">
<p align="left">CLW5053JGKZ3</p></td>
<td valign="top" width="240">
<p align="left">2008年第二册总第十三册第12页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">5</p></td>
<td valign="top" width="156">
<p align="left">153压缩<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5142ZYS3</p></td>
<td valign="top" width="240">
<p align="left">2008年第三册总第十四册第33页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">6</p></td>
<td valign="top" width="156">
<p align="left">小霸王挂桶<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5040ZZZ3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第54页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">7</p></td>
<td valign="top" width="156">
<p align="left">小霸王<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5041GSS3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第94页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">8</p></td>
<td valign="top" width="156">
<p align="left">小霸王<a class="seo" href="/asp/search.asp?kw=%CE%FC%B7%E0%B3%B5"><strong>吸粪车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5041GXE3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第81页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">9</p></td>
<td valign="top" width="156">
<p align="left">江铃高空作业车 </p></td>
<td valign="top" width="144">
<p align="left">CLW5050JGKZ3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第15页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">10</p></td>
<td valign="top" width="156">
<p align="left">小霸王吸污车 </p></td>
<td valign="top" width="144">
<p align="left">CLW5060GXW3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第82页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">11</p></td>
<td valign="top" width="156">
<p align="left">小霸王压缩<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5060ZYS3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第54页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">12</p></td>
<td valign="top" width="156">
<p align="left">多利卡单排<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5070GSS3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第95页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">13</p></td>
<td valign="top" width="156">
<p align="left">多利卡单排压缩<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5070ZYS3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第55页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">14</p></td>
<td valign="top" width="156">
<p align="left">多利卡排半<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5071GSS3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第95页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">15</p></td>
<td valign="top" width="156">
<p align="left">多利卡排半压缩<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5071ZYS3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第55页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">16</p></td>
<td valign="top" width="156">
<p align="left">140摆臂<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5100BZLT3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第55页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">17</p></td>
<td valign="top" width="156">
<p align="left">140<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5100GSST3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第95页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">18</p></td>
<td valign="top" width="156">
<p align="left">140吸污车 </p></td>
<td valign="top" width="144">
<p align="left">CLW5100GXWT3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第82页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">19</p></td>
<td valign="top" width="156">
<p align="left">140自卸<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5100ZLJT3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第56页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">20</p></td>
<td valign="top" width="156">
<p align="left">140挂桶<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5100ZZZT3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第56页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">21</p></td>
<td valign="top" width="156">
<p align="left">145摆臂<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5110BZLT3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第56页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">22</p></td>
<td valign="top" width="156">
<p align="left">145<a class="seo" href="/asp/search.asp?kw=%CE%FC%B7%E0%B3%B5"><strong>吸粪车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5110GXET3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第82页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">23</p></td>
<td valign="top" width="156">
<p align="left">145吸污车 </p></td>
<td valign="top" width="144">
<p align="left">CLW5110GXWT3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第83页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">24</p></td>
<td valign="top" width="156">
<p align="left">145压缩<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5110ZYST3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第57页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">25</p></td>
<td valign="top" width="156">
<p align="left">145挂桶<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5111ZZZT3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第57页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">26</p></td>
<td valign="top" width="156">
<p align="left">153<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5140GSST3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第96页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">27</p></td>
<td valign="top" width="156">
<p align="left">153<a class="seo" href="/asp/search.asp?kw=%CE%FC%B7%E0%B3%B5"><strong>吸粪车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5140GXET3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第83页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">28</p></td>
<td valign="top" width="156">
<p align="left">153压缩<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5140ZYST3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第57页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">29</p></td>
<td valign="top" width="156">
<p align="left">153<a class="seo" href="/asp/search.asp?kw=%CE%FC%B7%E0%B3%B5"><strong>吸粪车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5150GXE3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第83页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">30</p></td>
<td valign="top" width="156">
<p align="left">天龙后双桥<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5250GSS3</p></td>
<td valign="top" width="240">
<p align="left">2008年第四册总第十五册第96页 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">31</p></td>
<td valign="top" width="156">
<p align="left">小霸王绿化喷洒车 </p></td>
<td valign="top" width="144">
<p align="left">CLW5040GPS3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">32</p></td>
<td valign="top" width="156">
<p align="left">小霸王摆臂<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5040BZL3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">33</p></td>
<td valign="top" width="156">
<p align="left">小霸王高空作业车 </p></td>
<td valign="top" width="144">
<p align="left">CLW5040JGKZ3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">34</p></td>
<td valign="top" width="156">
<p align="left">福田欧马可高空作业车 </p></td>
<td valign="top" width="144">
<p align="left">CLW5051JGKZB3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">35</p></td>
<td valign="top" width="156">
<p align="left">福田欧马可<a class="seo" href="/asp/search.asp?kw=%CE%FC%B7%E0%B3%B5"><strong>吸粪车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5060GXEB3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">36</p></td>
<td valign="top" width="156">
<p align="left">小霸王自卸<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5060ZLJ3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">37</p></td>
<td valign="top" width="156">
<p align="left">三平柴压缩<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5080ZYST3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">38</p></td>
<td valign="top" width="156">
<p align="left">140<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5090GSS3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">39</p></td>
<td valign="top" width="156">
<p align="left">145高空作业车 </p></td>
<td valign="top" width="144">
<p align="left">CLW5100JGKZT3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">40</p></td>
<td valign="top" width="156">
<p align="left">140压缩<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5100ZYST3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">41</p></td>
<td valign="top" width="156">
<p align="left">140-47<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5101GSST3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">42</p></td>
<td valign="top" width="156">
<p align="left">140<a class="seo" href="/asp/search.asp?kw=%CE%FC%B7%E0%B3%B5"><strong>吸粪车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5101GXET3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">43</p></td>
<td valign="top" width="156">
<p align="left">145<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5112GSST3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr>
<tr>
<td valign="top" width="36">
<p align="left">44</p></td>
<td valign="top" width="156">
<p align="left">天锦单桥<a class="seo" href="/asp/search.asp?kw=%C8%F7%CB%AE%B3%B5"><strong>洒水车</strong></a> </p></td>
<td valign="top" width="144">
<p align="left">CLW5120GSS3</p></td>
<td valign="top" width="240">
<p align="left">2008年12月申报，2009年6月下发 </p></td></tr></tbody></table></td></tr></tbody></table> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>