<div id="main">
      
           #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-中国（随州）专用汽车博览会开幕式隆重举行(详细)</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 中国（随州）专用汽车博览会开幕式隆重举行(详细)</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> 2009年5月19日上午，中国(随州)专用汽车博览会由随州市人民政府、湖北省经济委员会、中国汽车工业协会专用车分会联合举办。<br>&nbsp;&nbsp;&nbsp;&nbsp;展会时间持续了三天。 展位总面积达 24000平方米，当地参加的专用汽车生产厂家共18家，另外零配件企业也高达35家，此外国内著名底盘生产商，像东风，福田，重汽也都前来参展！<a class="seo" href="/asp/search.asp?kw=%BA%FE%B1%B1%B3%CC%C1%A6%D7%A8%D3%C3%C6%FB%B3%B5%D3%D0%CF%DE%B9%AB%CB%BE"><strong>湖北程力专用汽车有限公司</strong></a>隆重推出了压力容器、随车吊、高空作业车、油车半挂等车型，期间引来了不少前来参观的客户，并签下订单。此次会展给公司带来了无限的商机，让用户更进一步了解了湖北程力各类型车型。&nbsp;&nbsp;此次会展得到了市委市领导的高度好评，湖北省政府副省长田承忠专门前来参观<a class="seo" href="/asp/search.asp?kw=%BA%FE%B1%B1%B3%CC%C1%A6%D7%A8%D3%C3%C6%FB%B3%B5%D3%D0%CF%DE%B9%AB%CB%BE"><strong>湖北程力专用汽车有限公司</strong></a>专汽会展大厅，<a class="seo" href="/asp/search.asp?kw=%BA%FE%B1%B1%B3%CC%C1%A6%D7%A8%D3%C3%C6%FB%B3%B5%D3%D0%CF%DE%B9%AB%CB%BE"><strong>湖北程力专用汽车有限公司</strong></a>总经理程阿罗向田省长汇报了近年来的可喜成绩。 <wbr><wbr><br>
<p align="center">&nbsp;</p> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>