<div id="main">
      
         #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-湖北程力专用汽车有限公司2008年工作总结大会完满成功(详细)</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 湖北程力专用汽车有限公司2008年工作总结大会完满成功(详细)</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <p>昨天下午两点湖北程力汽车公司年终总结大会在随州神农大剧院召开，公司董事长程道国、总经理程阿罗、副总经理程国祥、常务副总罗锐、办公室主任杨祖国等公司领导主持并参加了会议，随州市副市长陈传根出席了此次会议并作出了重要讲话。</p>
<p>2008年是我国经济发展极不平凡的一年，冰冻雪灾、价格波动、汶川地震、北京奥运、世界金融危机，一次又一次地考验着国人，同样也考验着我们，一年来，程力公司全体干部员工团结一心，众志成城，克难奋进，圆满地完成了年初既定的奋斗目标，又一次实现了新的跨跃，取得了两个文明建设的双丰收。</p>
<p>2008年共生产销售3560台专用汽车，实现产值3.52亿元，上缴国税500多万元，出口创汇1000万美元，同比分别增长为35%、54%、61%、257%，新增就业200多人，员工收入继续保持了一定的同步增长。</p>
<p>公司创办了“湖北程力职业技术学校”；〉昧耸捉煺猩?000人的佳绩。取得了“随车起重机”生产资质，取得了“A2、C2三类压力容器”生产制造资质，今年公司先后被授予“湖北省高新技术企业”、 “湖北省守合同重信用企业”“湖北省著名商标”等荣誉称号。</p>
<p>会上，公司总经理程阿罗做了工作报告，主要总结了2008年工作，制定2009年的工作目标。2009年公司的目标是专用车生产量4000台，产值4个亿，上交税收600万元，出口创汇1000万美元。</p>
<p>大会还颁发了2008年最佳销售组织奖、最佳订单数量奖、最佳利润奖、最佳销售贡献奖、最佳销售进步奖、劳动模范、先进生产者等一百多个奖项。&nbsp;</p>
<p>2008年已过去，2009年已到来，在新的一年里，在程力公司领导的带领下团结一心、众志成城、变挑战为机遇，化压力为动力。努力完成公司2009年目标任务。再铸辉煌！</p>
<p>&nbsp;</p> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>