<div id="main">
      
       #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-上班第一天，市领导到程力公司看望公司员工(详细)</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 上班第一天，市领导到程力公司看望公司员工(详细)</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <p>农历新年上班第一天。整个公司洋溢着冲刺“开门红”的气氛。上午，市委书记马清明、市长刘晓鸣一行走访调研了湖北程力汽车公司，向公司负责人和一线职工致以新春问候，了解程力公司生产经营状况，鼓励大家牛年鼓牛劲，实现首季工业生产“开门红”。</p>
<p>市委副书记冯仲凯，市委常委、市委秘书长涂胜华，副市长陈传根，市政府秘书长冯茂东，市委副秘书长杨天兵，曾都区委书记谭志勇、区长杨增能，市开发区党工委书记罗铭、主任滕佑灵，市政府副秘书长廖俊贤，市经委主任邹新国、市国资委主任谌述文等参加调研。</p>
<p>市领导在程力公司领导的陪同下参观了公司生产车间，公司总经理程阿罗报喜：“又接到了一批压缩<a class="seo" href="/asp/search.asp?kw=%C0%AC%BB%F8%B3%B5"><strong>垃圾车</strong></a>的出口订单，正组织职工加班生产。”程阿罗还兴致勃勃地展示了公司新开发的化粪池处理车等产品。市委书记马清明肯定了程力公司致力于环卫系列专汽开发的作法，指出“一企一品、突出特色、形成核心竞争力”是随州专汽企业发展的方向。</p>
<p>程力公司总经理程阿罗介绍，公司正抓住钢材价格下跌和国家扩大内需的双重机遇，组织新厂房建设和专汽生产，今年有望继续保持快速发展势头，力争产值过4.5亿元，上缴国税800多万元。</p>
<p>&nbsp;</p> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
		  </div>
       
        
