<div id="main">
      
       #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-程力公司总经理程阿罗荣获“2008年度突出贡献企业家”奖(详细)</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 程力公司总经理程阿罗荣获“2008年度突出贡献企业家”奖(详细)</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <p>2009年2月20号上午八点半，在随州礼堂召开关于推进全民创业促进就业表彰大会。</p>
<p>2008年，湖北程力专用汽车公司在市领导的带领下，以科学发展观为指导，以建设“四个随州”为目标，迎难而上，开拓创新，为随州经济和发展作出了重要贡献，程力公司总经理程阿罗贡献突出，被评为2008年度突出贡献企业家奖，并获奖金五万元。</p>
<p>2008年程力汽车公司共生产销售3560台专用汽车，实现产值3.52亿元，上缴国税500多万元，出口创汇1000万美元，同比分别增长为35%、54%、61%、257%，新增就业200多人，员工收入继续保持了一定的同步增长。2009年程力公司将再接再励，预计专用车生产量达4000台，产值4个亿，出口创汇1000万美元，上交税收600万元。<br></p> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>