<div id="main">
         #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-汽车出口行业洗牌在即(详细)</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 汽车出口行业洗牌在即(详细)</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <p>今天，商务部、国家发改委、海关总署、国家质检总局、国家认监委等五部门联合发出《关于规范汽车出口秩序的通知》，决定对汽车整车产品（包括乘用车、商用车、底盘及成套散件）实行出口许可证管理，对汽车生产企业实行出口资质管理，对汽车出口经营企业实行生产企业授权经营管理。 </p>
<p>商务部产业司负责人说，我国汽车出口经营单位近年急剧增加，质量、售后服务等问题日益突出。目前全国汽车出口企业总数为１１７５家，其中出口１０辆以下的多达６６９家，出口１辆的企业达２０４家，出现了不符合产业准入条件企业的产品出口和低价恶性竞争的问题，损害了国外消费者利益。 </p>
<p>汽车企业和汽车产品进入国内市场有资质，但进入国外市场却无资质，这是造成我国汽车出口秩序混乱的主因。目前我国汽车出口产品没有纳入管理范围，使达不到国内产业管理要求和质量水平的汽车得以出口。 </p>
<p>五部门的《通知》对汽车生产企业设定了出口资质，要求具备与出口汽车保有量相适应的维修服务能力并在主要出口市场建立较完善的销售服务体系，对出口经营企业实行生产企业授权管理，并把底盘一并纳入管理。 </p>
<p>商务部产业司负责人表示，该规定出台旨在最大限度保护出口活力和最合理地设置准入门槛，不排除该规定的具体要求今后几年有逐步提高的可能。预计到今年７月份，全国将有７００多家汽车出口经营企业因“够不着”门槛而退出。 </p>
<p><br>早在２００５年１２月，商务部等五部门就曾围绕摩托车出口的类似问题，探索出严格市场准入资质规范出口秩序的新思路，取得明显成效，出口单价由２００５年下降１５％转变为２００６年上升１５％，为此多增企业效益和社会福利约３０亿元人民币。此次规范汽车出口秩序，是该管理思路的第二次实践。有关负责人表示，规定实施后，预计我国汽车出口增幅不会下降，出口单价将稳中有升，出口增长质量会有所提高。<br></p> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>