<div id="main">
      
            #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-汽车产业配套政策将出笼 贸易销售都将明确规定(详细)</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 汽车产业配套政策将出笼 贸易销售都将明确规定(详细)</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <p>记者近日从消息灵通人士处获悉，商务部正在制定汽车产业发展政策的配套措施，这包括汽车贸易政策、汽车品牌销售管理办法、二手车市场管理规定等。 </p>
<p><br>专卖店最小间距应为4公里</p>
<p>这位人士告诉记者，近日商务部召集汽车业界老总开会，研究了包括上述法律细则在内的四个文件。其中在该会议上，关于每个汽车专卖店之间的最短距离的规定引起了与会者的争议。据他介绍，汽车品牌销售管理办法原文规定两个专卖店间的最短距离是15公里，但与会很多厂商负责人都表示反对，提出最小间距应在4公里左右。</p>
<p>一位汽车业内专家在接受记者采访时称，汽车专卖店形成区域性营销模式，应该鼓励和支持。但厂家如果坚持4公里内就建一个专卖店，客观上会引起专卖店的过热。这本身不利于目前在产品营销上话语权不多的专卖店的发展。</p>
<p>品牌销售管理办法备受关注</p>
<p>另据了解，正在制定中的《汽车品牌销售管理办法》可能会根据新汽车产业政策对国产车和进口车分营还是合营作出具体规定。新规定可能将要求汽车经营主体必须具备品牌代理权和经营权，而不仅仅是具有销售机动车辆的资格。还有，每个品牌的代理企业必须是一个独立的经营实体。</p>
<p>商务部世贸司副司长俞建华此前在接受媒体采访时提到，现在不少业内人士关心明年过渡期结束，汽车配额许可证最终取消后，国家对汽车进口管理的方式问题。他表示有关工作正在进行中。“将严格履行WTO的相关承诺，按规定的时间表取消所有非关税措施，所有管理方式的基本思路是做到四个符合：一符合WTO的有关规定和程序；二符合中国的《对外贸易法》；三符合中国的实际；四符合其他WTO成员的通行做法。”</p>
<p>俞建华认为，借鉴其他WTO成员的通行办法，对进口汽车和零部件进行有效管理，是未来中国进口汽车市场的发展大方向。<br></p> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>