<div id="main">
      
      #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-未来几年专用汽车地位将不断提高(详细) </div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 未来几年专用汽车地位将不断提高(详细) </h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <p>在“第四届汽车产业发展高峰年会”上，中国汽车技术研究中心研究员王祖德先生就我国专用汽车行业的发展发表了看法，并做了主题为《我国专用汽车生产现状及发展分析》的报告。 </p>
<p>专用汽车是自卸车、半挂牵引汽车、半挂车、厢式车(含客厢式和货厢式)、罐式车、起重举升车、特种结构车、仓栅车等专用载货汽车及专用作业类车辆的统称，广泛服务于我国国民经济的各个领域。从国外汽车工业的发展来看，载货汽车专用化的发展趋势比较明显。20世纪70、80年代，主要发达国家的专用汽车保有量占载货汽车保有量的50%左右，如今已增至70%～80%，而我国目前这一比例则较低，大体在30%左右，可见我国专用汽车的发展前景非常广阔。</p>
<p>王祖德先生指出，近些年来，我国专用汽车在市场中的地位不断提高，一些有实力的整车生产企业或大企业集团已经开始介入到专用车生产领域，不过目前该行业仍然存在着生产厂点过多、过乱，产品质量低、同质化等现象。</p>
<p>从国家在“十一五”规划来看，对专用汽车的发展提出了鼓励政策，今后专用汽车的部分品种、市场会有更大的发展空间，其在载货车中的地位将不断提高。 <br></p> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>