<div id="main">
      
           #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-企业新闻-我公司受邀参加“2007中国汽车出口国际交流会”的通知 (详细)</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 我公司受邀参加“2007中国汽车出口国际交流会”的通知 (详细)</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <p>&nbsp;近日，我公司受邀参加“2007中国汽车出口国际交流会”，以了解国际汽车市场，提升专用车产品的国际竞争力，扩大出口贸易份额，将“东风”专用车广泛推向国际市场。</p>
<p>在国家发展改革委、商务部和海关总署的指导下，在美国驻华大使馆、美国汽车经销商协会的支持下，由中国汽车技术研究中心和美国Polk公司共同主办的“2007中国汽车出口国际交流会”，定于2007年10月12日在北京凯宾斯基饭店举行。 <br>&nbsp;&nbsp;&nbsp;&nbsp; <br>会议拟定主题为“中国汽车企业与国际汽车经销商的对话与合作”。届时，数十位来自美国、俄罗斯、南美等国家和地区的行业主管机构负责人、经销商以及相关汽车专业人士将与国内的汽车行业企业进行现场交流与对话，帮助企业了解相关国家汽车市场情况，并进行合作洽谈。会议期间还分析上述国家和地区汽车市场数据、行业分析、政策法规，以及在相应地区建立营销服务体系的战略和具体方法。 <br>&nbsp;&nbsp;&nbsp;&nbsp; <br>交流会将致力于建立一个国内汽车企业与国外经销商直接对话的长效、高规格平台，就中国汽车走向国际汽车市场进行直接合作。组委会坚持广泛、互动和开放的原则，邀请各汽车行业企业及相关单位积极参与，共同大力促进汽车出口，推动中国汽车产业的国际化。<br></p> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>