body {
	margin: 0px; line-height: 18px; font-family: Tahoma; font-size: 9pt;
}
a {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:hover {
	color: red;
}
.itemDiv {
	margin: 3px; border: 1px solid rgb(204, 204, 204); width: 320px; height: 260px; text-align: center; display: inline-block;
}
.imgDiv {
	margin: 5px; width: 310px; height: 210px; overflow: hidden; display: block; position: relative;
}
.imgDiv img {
	margin: 0px; border: 0px currentColor; width: 100%; height: 100%;
}
.imgsd {
	margin: 0px; border: 0px solid red; left: 0px; top: 0px; width: 100%; height: 100%; filter: alpha(style=0,opacity=50); position: absolute;
}
.pageButton {
	line-height: 25px; font-family: arial; font-size: 14px; margin-right: 5px; margin-left: 5px; display: inline-block;
}
#guestform table {
	background: rgb(179, 215, 241); width: 100%; margin-top: 30px;
}
#guestform td {
	background: rgb(221, 244, 255); padding: 5px; border: 1px solid rgb(255, 255, 255);
}
#guestid {
	width: 180px;
}
#guestqq {
	width: 180px;
}
#guesttel {
	width: 180px;
}
#guestmsg {
	width: 500px; height: 100px;
}
.guestremsg {
	background: rgb(248, 248, 248); margin: 5px; border: 1px solid rgb(223, 223, 223); text-indent: 5px;
}
.guestadmin {
	color: red;
}
.guestItem {
	background: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); overflow: hidden; margin-top: 3px; position: relative;
}
.guestName {
	background: rgb(250, 250, 250); color: rgb(255, 34, 34); line-height: 25px; text-indent: 5px; font-family: Tahoma; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dotted;
}
.guestMsg {
	margin: 5px; color: rgb(51, 94, 168); font-family: Tahoma; font-size: 12px;
}
.guestTime {
	top: 0px; text-align: right; right: 0px; color: gray; line-height: 25px; position: absolute;
}
.guestContact {
	text-align: right; color: gray; padding-right: 5px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	padding: 0px; margin-left: 5px; list-style-position: inside;
}
#producttable th {
	background: rgb(167, 166, 170); text-align: left;
}
#producttable td {
	text-align: left;
}
#producttable .pic {
	width: 160px; height: 100px;
}
#producttable a {
	color: red;
}
#pages a {
	margin: 5px; color: blue;
}
#pages a.cbutton {
	color: red;
}
li.b {
	display: none;
}
#cp {
	background: url("http://www.clwtq.com/img/cp.png") repeat-x rgb(238, 238, 238); width: 949px; height: 60px; text-align: center; line-height: 20px; overflow: hidden; padding-top: 10px; padding-bottom: 10px; border-top-color: rgb(170, 170, 170); border-bottom-color: rgb(189, 17, 7); border-top-width: 1px; border-bottom-width: 3px; border-top-style: solid; border-bottom-style: solid;
}
#mf {
	width: 949px; text-align: left; overflow: hidden; position: relative;
}
#head {
	background: url("http://www.clwtq.com/img/he.png "); width: 949px; height: 120px; overflow: hidden; position: relative;
}
#menu {
	width: 729px; height: 35px; text-align: center; right: 0px; bottom: 0px; line-height: 35px; position: absolute;
}
#menu a {
	width: 70px; height: 25px; text-align: center; color: rgb(255, 255, 255); line-height: 25px; font-family: Tahoma; font-size: 12px; font-weight: bold; border-right-color: rgb(246, 224, 223); border-right-width: 1px; border-right-style: dotted; display: inline-block;
}
#menu a:hover {
	color: rgb(255, 255, 0);
}
#banner {
	border: 0px dotted rgb(238, 238, 238); width: 949px; height: 218px; overflow: hidden; position: relative;
		
}
#main {
	background: url("http://www.clwtq.com/img/images/maintop.png") no-repeat rgb(235, 235, 235); width: 949px; overflow: hidden; padding-top: 10px; margin-top: 2px; position: relative;
}
#left {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); width: 174px; text-align: left; overflow: hidden; float: left;
}
#leftmenu {
	width: 174px; overflow: hidden;
}
#leftmenu li {
	background: url("../img/leftitem.png") no-repeat; margin: 0px; padding: 0px; width: 174px; line-height: 28px; list-style-position: outside;
}
#leftmenu a {
	width: 150px; color: rgb(51, 94, 168); text-indent: 30px; letter-spacing: 0px; font-size: 12px; display: inline-block;
}
#leftmenu a:hover {
	color: red;
}
#body {
	background: rgb(255, 255, 255); width: 770px; overflow: hidden; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: right; position: relative;
}
#right {
	border: 1px solid rgb(204, 204, 204); width: 210px; text-align: left; overflow: hidden; float: right; position: relative;
}
.newslist li {
	padding: 0px; color: rgb(139, 181, 115); line-height: 20px; font-family: Tahoma; margin-left: 5px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.newslist a {
	border: 0px solid currentColor; width: 240px; line-height: 20px; letter-spacing: 0px; overflow: hidden; display: inline-block; position: relative;
}
.newslist a:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
.newslist img {
	top: 5px; right: 5px; position: absolute;
}
#detail td {
	text-indent: 0px;
}
#addr {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); height: 26px; line-height: 26px; text-indent: 10px;
}
#blink {
	background: rgb(235, 235, 235); width: 770px; height: 26px; text-align: center; overflow: hidden; border-top-color: rgb(204, 204, 204); border-top-width: 0px; border-top-style: solid; position: relative;
}
#blink a {
	color: rgb(255, 0, 0); line-height: 25px; font-size: 14px; margin-right: 20px; margin-left: 20px;
}
#blink a:hover {
	color: red;
}
#printbar {
	background: rgb(238, 238, 238); border: 1px dotted rgb(204, 204, 204); height: 25px; line-height: 25px; margin-bottom: 10px;
}
#info {
	margin: 5px; line-height: 22px;
}
h3 {
	background: url("../img/h3.png") rgb(187, 187, 187); margin: 0px; padding: 0px; height: 26px; text-align: left; color: rgb(0, 0, 0); line-height: 26px; text-indent: 5px; overflow: hidden;
}
h3 a {
	border: 0px solid red; width: 300px; height: 26px; padding-left: 32px; display: inline-block;
}
.page_title {color:#CE0013; text-align:left; margin:0px; padding:13px;line-height:22px;background:url(/img/xzl_jt.gif) no-repeat;background-position:left center;
			 font-size:16px; font-weight:bold; font-family: 微软雅黑;}
#location {border-bottom:1px solid #cccccc;padding:2px; text-align:left; line-height:22px;height:22px; text-indent:4px;}
   #news li{line-height:30px;  border-bottom:1px dotted #eeeeee;color:red;font-size:14px;}
            #news a{display:inline-block;width:550px; font-family:Tahoma;}
            #news a:hover{color:Red}

