<div id="mf">
<div id="main">
      
              #parse("control/leftpart.vm")
        
        <div id="body">
            
      <div id="addr"><b>您的位置：</b><a href="/">首页</a>-公司相关-企业文化</div>
      <div style="margin:20px;" id="news">
        <center>
          <h2> 企业文化</h2>
        </center>
        <hr>
        <div style="font-size:14px;color:#335EA8;line-height:22px; text-indent:0px;"> <blockquote>
<p class="行距2211" align="left"><strong>※ 创优质服务企业； 造用户满意产品； 树国内知名品牌。 </strong></p>
<p class="行距2211" align="left"><strong><span class="style71"><span class="行距221"></span></span>※ 质量目标 </strong><br>· 贯彻ISO9001：2000标准，建立保持并持续改进质量管理体系； <br>· 整车一次交检合格率≥92%，三年内每年递增1%以上； <br>· 整车出厂合格率100%； 顾客满意度≥90%，三年内每年递增1%以上。 </p>
<p class="行距2211" align="left"><strong>※ 质量承诺 </strong><br>· 公司对产品100%负责； 服务让顾客100%满意。 </p>
<p class="行距2211" align="left"><strong>※ 企业观念 </strong><br>· 企业精神：开拓进取，求真务实；创新求变，团结协作； 奋力拼搏，勇争一流。 <br>· 企业目标：做优秀企业，树知名品牌，创最佳效益。 <br>· 企业风格：对客户诚信，对员工信任，对社会负责。 <br>· 对企业忠诚，对事业执着，对工作严谨。 <br>· 经营观：先积累、后做强、再做大。 <br>· 管理观：以人为本，诚信共赢。 <br>· 效率观：日事日结，日清日高。 <br>· 市场观：创造需求，发现需求，满足需求。 <br>· 竞争观：重点集中，异轨超越，局部领先。 <br>· 时间观：时间就是资源，时间就是效率。 <br>· 人才观：视人才为企业最重要的资源。 <br>· 用才观：用待遇吸引人，用感情凝聚人，用事业激励人。 <br>· 团队观：团结共进，众志成诚。 <br>· 服务观：客户至尊，诚信不渝。 <br><br>【 <strong>行为公约</strong> 】 </p>
<p class="行距2211" align="left">　　程力人， 勇奉献； 创一流， 志向远。 <br>　　讲诚信， 礼相见； 待客户， 要周全。 <br>　　守规章， 作典范； 上下班， 准时点。 <br>　　爱本职， 苦钻研； 爱程力， 视家园。 </p></blockquote> </div>
      </div>

<center>
<a href="#top" style="margin:30px;color:red;">回顶端</a>
<a href="/">回首页</a>
</center>
    
        </div>
       
        
      </div>
		</div>