<!--三块开始-->
<div id="main">
<!--left-->
#parse("control/leftpart.vm")
<!--右边大块-->
<div id="body"> 
	<div id="location"><strong>您的位置：</strong> <a href="/">首页</a> - <a href="/category">产品展示</a> - $!{category.productCategoryName}车</div>
    <div id="info"> $!{category.productDescription}<br>
			 <font color="#000000"><strong><font color="#ff0000" size="4">更多详细车型与价格请致电:18607226629 0722-4792229</font></strong></font><p></p>
   </div>
    
    <div style="position:relative;overflow:hidden;width:100%;b">


        <!--$ products.listview-->

	 <div id="myshow7006500007055475" style="text-align:center">
		
		#foreach($carInfo in ${carInfoQuery.carInfos})
		<span class="itemDiv">
			<span class="imgDiv">
				<a href="/car/${carInfo.id}">
					<img src="$imageServer${carInfo.productListImage}" alt="">
                 </a>
				 
             </span>
			 <a href="/car/${carInfo.id}">${carInfo.productListName}</a>
          </span>
		  
		#end
	 <center style="margin:10px;">
		共<span style="color:red">${carInfoQuery.pageCount}</span>
		页 | 第<span style="color:red">${carInfoQuery.currentPage}</span>
		页
		#if($paginator && $paginator.linkList.size() > 1)
		| 页码:[
		#foreach($link in ${paginator.linkList})
		        #if($link.isCurrentPage())
			             <a href="$link.href"  style="margin-left:5px;color:red;">$link.name</a>
					#else					
						<a href="$link.href"  style="margin-left:5px;color:blue;">$link.name</a>
					#end
		#end
		] | 
		#if($paginator.hasPreviousLink())
				#set($previousLink = $paginator.previousLink)
		<a href="$previousLink.href" class="page-prev"><span>$previousLink.name</span></a>
		#end
		
		#if($paginator.hasNextLink())
				#set($nextLink = $paginator.nextLink)
				<a href="$nextLink.href" class="page-next"><span>$nextLink.name</span></a>
				#end
		#end
	</center>
</div>


    </div>
	
<center>
<a href="#top" style="margin:30px;">回顶端</a>
<a href="/"></a>
</center>
    
   
        </div>



</div>