<!--三块开始-->
<div id="main">
<center><!--left-->
#parse("control/leftpart.vm")
<!--右边大块-->

<div style="width: 770px; overflow: hidden; float: right; position: relative;">
<!--right-->
#parse("control/rightpart.vm")

<!--中-->

#parse("control/centerpart.vm")

</div>


</center>
</div>