<h3><a style='background: url("/img/icon_about.png") no-repeat;'>产品推荐</a></h3>
<div style="padding: 3px; border: 1px solid rgb(204, 204, 204); overflow: hidden; position: relative;">
<center>
<div>
	<span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/190">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/20120422110250.jpg"><br>东风145洒水车8</a>
    </span>
	<span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/265">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/20100528104535.jpg"><br>东风天龙前四后八运</a>
    </span>
	<span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/405">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/20110304105240.jpg"><br>东风145运油车</a>
     </span>
	 <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/409">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/20110303095359.jpg"><br>东风金霸加油车</a>
     </span>
	 <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/224">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/20100528114141.jpg"><br>东风平头单桥洒水车</a>
     </span>
	 <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/220">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/20110426151240.jpg"><br>东风多利卡洒水车</a>
     </span>
	 <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/201">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/20110304105651.jpg"><br>东风小霸王洒水车</a>
      </span>
	  <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/425">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/2693eg.jpg"><br>福田前四后八化工液</a>
      </span>
	  <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/438">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/2518dv.jpg"><br>解放平头化工液体运</a>
       </span>
	   <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/107">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/j30522121.jpg"><br>东风康霸吸污车</a>
        </span>
		<span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
			<a href="$hostServer/car/112">
				<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/2528dv.jpg"><br>东风小金霸吸粪车</a>
       </span>
	   <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/280">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/noticemini.jpg"><br>程力威牌clw51</a>
      </span>
	  	  <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/47">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/otherimge1.jpg"><br>程力威牌随车起重运输车</a>
       </span>
	   <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/74">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/otherimage2.jpg"><br>程力威牌平板运输车</a>
        </span>
		<span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
			<a href="$hostServer/car/4">
				<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/otherimage3.jpg"><br>程力威牌型冷藏车</a>
       </span>
	   <span style="margin: 5px; width: 120px; height: 110px; text-align: center; color: gray; display: inline-block;">
		<a href="$hostServer/car/194">
			<img style="border: 2px solid rgb(204, 204, 204); width: 120px; height: 90px;" src="$staticServer/img/otherimage4.jpg"><br>东风天锦洒水车</a>
      </span>
   </div> 
 </center>
</div>