<!--start-->
<div style='background: url("$staticServer/img/talk.png"); width: 210px; height: 200px; overflow: hidden; position: relative;'>
<div style="line-height: 22px; font-family: tahoma; margin-top: 55px; margin-left: 5px;">
<p><font face="宋体"><font 
face="宋体">销售经理：李经理<br>联系电话：<font style="font-size: 18px;" color="#ff0000"> 18607226629 </font><br>服务热线：0722-4792229&nbsp; <br>电子信箱：<a 
href="mailto:2384958066@qq.com">2384958066@qq.com</a></font></font>

<a target="_blank" href="http://user.qzone.qq.com/2384958066">
QQ:<font style="font-size: 18px;" color="#ff0000"><font face="宋体">2384958066</font></font>
</a><br>
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2384958066&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2384958066:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
</p>
</div>
</div>
<!--end-->