<div style="width: 49.8%; overflow: hidden; float: left;">
<h3><a style='background: url("/img/icon_news.png") no-repeat;' href="http://www.clwtq.com/asp/docs.asp?id=16">行业资讯</a>
	<em style="float: right;"><img src="img/more.png"></em></h3>
<div style="margin: 5px; height: 210px;" class="newslist">
<li> <a href="http://www.clwtq.com/asp/detail.asp?id=199" 
target="_blank">请不要小瞧车辆反光标--湖<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="http://www.clwtq.com/asp/detail.asp?id=194" 
target="_blank">安徽、山西等各县发放抗旱拉<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="http://www.clwtq.com/asp/detail.asp?id=190" 
target="_blank">湖北程力吸污车被广大用户誉<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="http://www.clwtq.com/asp/detail.asp?id=189" 
target="_blank">选购洒水车不但要看价格，还<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="http://www.clwtq.com/asp/detail.asp?id=188" 
target="_blank">什么叫多功能洒水车?湖北程<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="http://www.clwtq.com/asp/detail.asp?id=187" 
target="_blank">用最优惠的价格购买最理想的<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="http://www.clwtq.com/asp/detail.asp?id=182" target="_blank">另一番精彩 
上海车展卡车室<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="http://www.clwtq.com/asp/detail.asp?id=170" 
target="_blank">国家发展改革委宣布提高成品<img border="0" src="img/new1.gif"></a> 
</li>
</div>
</div>