<div style="width: 49.8%; overflow: hidden; float: left;">
<h3><a style='background: url("/img/icon_news.png") no-repeat;' href="/news/all">行业资讯</a>
	<em style="float: right;"><img src="img/more.png"></em></h3>
<div style="margin: 5px; height: 210px;" class="newslist">
<li> <a href="/news/9" 
target="_blank">湖北程力专用汽车有限公司<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="/news/10" 
target="_blank">武汉给洒水车定规矩白天喷雾<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="/news/22" 
target="_blank">汽车出口行业洗牌在即<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="/news/14" 
target="_blank">城市物流好帮手 达夫LF厢式<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="/news/23" 
target="_blank">汽车产业配套政策将出笼<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="/news/25" 
target="_blank">未来几年专用汽车地位将不断提高<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="/news/17" target="_blank">
		中国（随州）专用汽车博览会隆重举行<img border="0" src="img/new1.gif"></a> 
</li>
<li> <a href="/news/24" 
target="_blank">中国实施燃油税改革的良机又现<img border="0" src="img/new1.gif"></a> 
</li>
</div>
</div>